.table{
    margin: auto;
    margin-bottom: 100px;
}
.table thead{
    background-color: aqua;
}
th{
    border: 1px solid black;
    padding: 10px;
}
td{
    border: 1px solid black;
    padding: 10px;
}